@charset "UTF-8";
a, a:visited, a:active {
  color: #444;
}

svg {
  pointer-events: all;
}

#details{
	width:1200px;
	overflow:hidden;
	display:none;
}

#orthomap{
	display:block;
}

#visCountry{
	float:left;
}
#mapContainer {
	float:right;
}

#visRegion {
	width:1200px;
  clear: both;
  margin-bottom: 10px;
}

footer {
  text-align: center;
}

#view_selection {
  margin-bottom: 10px;
}

.titles {
  font-size: 21px;
  fill: #aaa;
}

.tooltip {
	position: absolute;
	top: 100px;
	left: 100px;
  -moz-border-radius:5px;
	border-radius: 5px;
  border: 2px solid #000;
	/* background: #222222; */
  background: #fff;
	opacity: .9;
	/* color: #eeeeee; */
  color: black;
	padding: 10px;
	width: 300px;
	font-size: 12px;
	z-index: 10;
}

.tooltip .title {
	font-size: 13px;
}

.tooltip .name {
  font-weight:bold;
}



.background {
  fill: #a4bac7;
}

.foreground {
  fill: none;
  stroke: #333;
  stroke-width: 1.5px;
}


.graticule:nth-child(2n) {
  stroke-dasharray: 2,2;
}


.country {
  fill: #b8b8b8;
  stroke: #fff;
  stroke-width: .5px;
  stroke-linejoin: round;
}

.graticule {
  fill: none;
  stroke: #000;
  stroke-opacity: .3;
  stroke-width: .5px;
}

.graticule-outline {
  fill: none;
  stroke: #333;
  stroke-width: 1.5px;
}
circle.mouse {
  fill: none;
  stroke: #000;
  pointer-events: all;
}
.countrytext {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-anchor: middle;
}
	