<div id="footer" class="container-fluid">
    <hr>
    <div class="row-fluid">
        <div class="span4">
            <ul id="footer-contact">
                <li>Federal Communications Commission</li>
                <li>445 12th Street SW</li>
                <li>Washington, DC 20554<br><br></li>
                <li>Phone: 1-888-225-5322</li>
                <li>TTY:  1-888-835-5322</li>
                <li>Fax: 1-866-418-0232</li>
                <li>E-mail: <a href="mailto:fccinfo@fcc.gov">fccinfo@fcc.gov</a></li>
            </ul>
        </div>
        <div class="span4">
            <ul>
                <li><a title="RSS" href="http://www.fcc.gov/rss">RSS</a></li>
                <li><a title="Privacy Policy" href="http://www.fcc.gov/encyclopedia/privacy-policy">Privacy Policy</a></li>
                <li><a title="Moderation Policy" href="http://www.fcc.gov/comment-policy">Moderation Policy</a></li>
                <li><a title="Website Policies &amp; Notices" href="http://www.fcc.gov/encyclopedia/website-notices">Website Policies &amp; Notices</a></li>
                <li><a title="Required Browser &amp; Plug-ins" href="http://www.fcc.gov/encyclopedia/required-plug-ins-players-and-readers">Required Browser &amp; Plug-ins</a></li>
            </ul>
        </div>
        <div class="span4">
            <ul>
                <li><a title="FOIA" href="http://www.fcc.gov/foia">FOIA</a></li>
                <li><a title="No Fear Act Data" href="http://www.fcc.gov/encyclopedia/no-fear-act-data">No Fear Act Data</a></li>
                <li><a title="Open Government Directive" href="http://www.fcc.gov/open">Open Government Directive</a></li>
                <li><a title="Plain Writing Act" href="http://www.fcc.gov/encyclopedia/plain-writing-fcc">Plain Writing Act</a></li>
                <li><a title="2009 Recovery and Reinvestment Act" href="http://www.fcc.gov/encyclopedia/american-recovery-and-reinvestment-act-2009">2009 Recovery and Reinvestment Act</a></li>
            </ul>
        </div>
    </div>
</div>
<script>window.jQuery || document.write('<script src="js/libs/jquery-1.6.2.min.js"><\/script>')</script>
<script src="js/CustomTooltip.js"></script>
<script src="js/libs/d3.v3.min.js"></script>
<script src="js/libs/queue.v1.min.js"></script>
<script src="js/libs/topojson.v0.min.js"></script>
{% if page.layout == 'traffic2011' %}
<script src="js/app.js"></script>
{% endif %}
{% if page.layout == 'trafficbyyear' %}
<script src="js/app1.js"></script>
{% endif %}

</body>
</html>