<!doctype html>
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title></title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!-- CSS concatenated and minified via ant build script-->
  <link rel="stylesheet" href="{{ site.asset-dir }}/css/reset.css">
  <link rel="stylesheet" href="{{ site.asset-dir }}/css/bootstrap.min.css">
  {% if page.layout == 'traffic2011' %}
  <link rel="stylesheet" href="{{ site.asset-dir }}/css/style.css">
  {% endif %}
  {% if page.layout == 'trafficbyyear' %}
  <link rel="stylesheet" href="{{ site.asset-dir }}/css/style2.css">
  {% endif %}
  <!-- end CSS-->

  <script src="{{ site.asset-dir }}/js/libs/modernizr-2.0.6.min.js"></script>
  <script>
  var _gaq = _gaq || [];
_gaq.push(function() {_gat._anonymizeIp();});
_gaq.push(['_setAccount', 'UA-16888309-1']);
_gaq.push(['_setDomainName','.fcc.gov']);
_gaq.push(['_trackPageview']); 

 (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

  </head>

<body>
<div id="header">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="navbar navbar-inverse">
        <div class="navbar-inner">
          <span class="brand"><a title="FCC" href="http://www.fcc.gov"><img src="{{ site.asset-dir }}/img/fcc-logo.jpg" alt="FCC Logo"></a>{{ page.title }}</span>
        </div>
      </div>
    </div>
  </div>
</div>