{% include header.html %}

<div id="container" class="container-fluid">
  <div id="main" role="main">
      <div class="row-fluid" width="600">
        {{ content }}
    </div>
    <div id="rTitle"><h3>Regional Information</h3></div>
    <div id="visRegion"></div>
    <div id="details">
      <div id="visCountry"></div>
      <div id="mapContainer">
        <div id="orthomaptitle"></div>
        <div id="orthomap"></div>
      </div>
    </div>
  </div>
  <footer>
  </footer>
</div> <!--! end of #container -->

{% include footer.html %}