{% include header.html %}

<div id="container" class="container-fluid">
  <div id="main" role="main">
      <div class="row-fluid">
      <span style="max-width: 500px;">
        <p>View the <a href="{{ site.asset-dir }}/trafficbyyear.html">Traffic by Year</a> visualization.</p>
        {{ content }}
      </span>  
    </div>
    <div id="rTitle"><h3>Regional Information</h3></div>
    <div id="visRegion"></div>
    <div id="details">
      <div id="visCountry"></div>
      <div id="mapContainer">
        <div id="orthomaptitle"></div>
        <div id="orthomap"></div>
      </div>
    </div>
  </div>
  <footer>
  </footer>
</div> <!--! end of #container -->

{% include footer.html %}